@font-face {
    font-family: 'TREE_GO_B';
    src: url('../../fonts/UtoImageGothicBold.woff') format('woff'),
        url('../../fonts/UtoImageGothicBold.woff2') format('woff2');
}

@font-face {
    font-family: 'TREE_GO_L';
    src: url('../../fonts/UtoImageGothicLight.woff') format('woff'),
        url('../../fonts/UtoImageGothicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'TREE_GO_R';
    src: url('../../fonts/UtoImageGothicRegular.woff') format('woff'),
        url('../../fonts/UtoImageGothicRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'BORY';
    src: url('../../fonts/AnyConv.com__SKYBORI.woff') format('woff'),
        url('../../fonts/AnyConv.com__SKYBORI.woff2') format('woff2');
}

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");